.file {
    display: inherit;
    height: 95vh;
    right: 1vw;
    overflow-x: scroll;
    overflow-y: scroll;
    position: absolute;
    top: 1vh;
    width: 80vw;
}
.path {
    bottom: 1vh;
    font-size: 8pt;
    left: 1vw;
    position: absolute;
    width: 97vw;
}
.path_list {
    display: inherit;
    height: 95vh;
    left: 1vw;
    overflow-x: scroll;
    overflow-y: scroll;
    position: absolute;
    top: 1vh;
    width: 16vw;
}
.punctuator {
    color: #4D4D4D;
    font-weight: bold;
}
.header_name, .identifier, .preprocessor_number {
    color: #7F7F7F;
    font-weight: bold;
}
.string_literal, .character_constant {
    color: #BFBFBF;
}
.whitespace {
    color: #008000;
}
.empty:empty:before{
    content:"empty"
}
